/*
	Basic stylesheet
	Created on : Nov 3, 2016, 2:11:01 PM
	Author     : Dennis
*/
/* TODO convert to SASS */

body {
	background-color: gray;
}

body.form_builder aside#element-properties {
	display: none;
}

body.form_builder form#frmBuilder {
	border: 1px solid black;
	width: 50%;
}

body.form_builder div#form-elements div.form-group {
	border: 1px solid blue;
}

body.form_display span.required {
	color: red;
	font-weight: bold;
}
